<html lang="en">
<head>
	<title>404 error!</title>
</head>
<body>
<h1>sorry something went wrong!</h1>
<h1>404</h1>
<p>Things to do:</p>
<ol>
	<li>Try using another URL</li>
	<li>Refresh the site</li>
	<li>Check your internet connection</li>
</ol>
</body>
</html>