<html lang ="en">
	<%- include("./partials/head.ejs") %>
<head>
	<title>Welcome to kareem's page</title>
</head>
<body>
	<%- include("./partials/nav.ejs") %>
<h1>Here is some information about us!</h1>
<p>Things to do:</p>
<ol>
	<li>my about page is empty ;/</li>
	<li>Support it</li>
	<li>Subscribe</li>
</ol>
<!--<nav>
	<a href="/">Homepage</a>
	<a href="/about">About page</a>
	<a href="/create">Create Blogs</a>
</nav>-->
<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>